.wrap {
	position: relative;
}

.decor_1 {
	width: 10em;
	aspect-ratio: 1/1;
	position: absolute;
	left: 0;
	top: 0;
}

.decor_2 {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 80%;

	aspect-ratio: 2/1;
	border-radius: 50%;
}



.grid {
	display: grid;
	grid-template-columns: 8fr 6fr;
	gap: 2em;
	min-height: 700px;
	position: relative;
	z-index: $i-base;

	@media(max-width: $laptop) {
		grid-template-columns: 2fr 1fr;
		min-height: auto;
	}

	@media(max-width: $tablet) {
		grid-template-columns: 1fr;
	}



	&__content {
		display: flex;
		flex-direction: column;
		gap: 3em;
		justify-content: center;
	}


	&__preview {
		position: relative;

		img {
			position: absolute;
			width: 55%;
			left: 0;
			top: 0;
		}


		img:nth-child(2) {
			transform: translate(70%, 25%);
		}

		@media(max-width: $laptop) {
			top: -5%;

			img {
				width: 80%;
			}

			img:nth-child(2) {
				transform: translate(30%, 35%);
			}
		}

		@media(max-width: $tablet) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10%;
			margin-top: 10%;

			img {
				position: static;
				width: 45%;
			}

			img:nth-child(2) {
				transform: translate(0);
			}
		}
	}

}